* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
  
.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left, #0ba8bf, #9ad4e0);
    z-index: -1;
}
  
nav {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    min-height: 10vh;
    color: #fff;
    align-items: center;
}
  
#logo {
    grid-column: 2/3;
    font-size: 24px;
    font-weight: 200;
}
.menu {
    justify-self: end;
}
section {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}
.hero {
    height: 60%;
    width: 100%;
    position: relative;
}
.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.headline {
    position: absolute;
    top: 70%;
    left: 10%;
    font-size: 100px;
    transform: translate(-20%, -70%);
    color: #fff;
    z-index: 3;
}
.hero::after {
    content: "";
    background: #111;
    opacity: 0.1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}